
  .centrado{
   position:fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color:rgb(49, 107, 216);
   z-index: 1000;
}
.loadercenter{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 45%;
    top: 40%;
    margin: -50px 0 0 -50px;
}
